<module>
	<rawname>restart</rawname>
	<name>Bulk Phone Restart</name>
	<version>17.0</version>
	<publisher>RadiusOne</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Admin</category>
	<changelog>
<![CDATA[
17.0: Drop support for old FreePBX versions and chan_sip
15.2: Support chan_pjsip
15.1.1: Add Polycom CCX support
15.1: Improve scheduling, add day/month and recurring options
15.0.1: Fix "select all" button submitting form
15.0: Add scheduled restarts
13.0.7: Fixing FREEPBX-18131 Removing reboot by force option from yealink while sending sip notify to yealink phone. 
13.0.6: Change repo to unsupported
13.0.5: FREEPBX-10708
13.0.4: FREEPBX-7382 block other modules from installing that conflict with sip notify
13.0.3: FREEPBX-9537 Bulk Phone Restart Error
13.0.2: Version bump Beta
13.0.1alpha1: Visuals
12.0.1: Redo module_hook calls to use static obj
2.11.0.1: Add license info
2.11.0.0: bump version
2.10.0.4: fix/improve sip notify
2.10.0.3: assotred bug fixes
2.10.0.2: #5537
2.10.0.1: minor fixes
2.10.0.0: new version changes
2.9.0.2: #4401
2.9.0.1: removed duplicate functions
2.9.0.0: #4627
2.8.0.1: #4426
2.8.0.0: #4309
2.7.0.0: localizations
2.6.0.1: #3912
2.6.0.0: Initial release
]]>
	</changelog>
	<depends>
		<version>17.0</version>
		<phpversion>8.2</phpversion>
	</depends>
	<description>
		Restart registered phones through the FreePBX web interface, CLI, or on a schedule.
	</description>
	<menuitems>
		<restart>Phone Restart</restart>
	</menuitems>
	<supported>
		<version>17.0</version>
	</supported>
	<console>
		<command>
			<name>phonerestart</name>
			<alias>pr</alias>
			<class>Phonerestart</class>
		</command>
	</console>
	<breaking>
		<module>
			<rawname>endpoint</rawname>
			<type>conflict</type>
		</module>
		<module>
			<rawname>endpointman</rawname>
			<type>conflict</type>
		</module>
	</breaking>
</module>
